{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Parolni o'zgaritish
{% endblock title %}
{% block content %}
<div class="container border border-dark rounded my-5 col-5 p-4 rounded-5 ">
    <h1 class="text-center">Parolni o'zgartirish</h1>
    <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="text-center">
        <button class="btn btn-outline-dark my-2 rounded-pill">Saqlash</button>
        <p> <a class="text-dark" href="{% url 'profile' %}">Orqaga</a></p>
    </div>
</form>
</div>
{% endblock content %}