{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Ro'yxatdan o'tish
{% endblock title %}
{% block content %}

<div  class="container border border-dark rounded my-5 col-5 p-4 rounded-5">
<h1 class="text-center">Ro'yxatdan o'tish</h1>
    <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
   <div class="text-center">
     <button class="btn btn-outline-dark mb-3 rounded-pill">Saqlash</button>
    <p>Akkauntingiz bormi ? <a class="text-dark" href="{% url 'login' %}">Kirish</a></p>
   </div>
</form>
</div>
{% endblock content %}